<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <!-- Toastr CSS from updated CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />

  <title>Appointments - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/header.html" %}

    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End patient_dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link" href="{% url 'patient_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>
        <!-- End Appointments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'medical_historys'%}">
            <i class="bi bi-list-ol"></i><span>Invoices</span>
          </a>
        </li>



        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
{% comment %} 
        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'patient_departments'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li> {% endcomment %}
        <!-- End Departments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li>
        <!-- End Payment Nav -->

        <!-- <li class="nav-heading">Pages</li> -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="patient_logout">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>

    <!-- End Sidebar-->

    <main id="main" class="main">
      <button onclick="goBack()" class="backBtn">
        <i class="bi bi-arrow-left-short" id="iconx"></i>
      </button>

      <div class="">
        <h1 style="text-align: center; font-weight: 600">
          Book An Appointment
        </h1>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <div class="row">
          <div class="col-lg-10">
            <div class="card">
              <div class="card-body">
                <form
                  class="row g-3 needs-validation"
                  novalidate
                  method="post"
                  enctype="multipart/form-data"
                >
                  {% csrf_token %}
                  <div class="">
                    <label for="description" class="col-sm-8 col-form-label"
                      >Let us Know how you feel
                      <span style="color: red">*</span></label
                    >
                    <div class="col-12">
                      <textarea
                        class="form-control"
                        style="height: 150px"
                        required
                        name="description"
                      >{{description|default_if_none:""}}</textarea>
                      <div class="invalid-feedback">
                        Let's Know how you feel.
                      </div>
                    </div>
                  </div>

                  <div class="col-12" style="margin-top: 20px">
                    <label for="doctor-select" class="form-label"
                      >Select Doctor<span style="color: red">*</span></label
                    >
                    <select
                      class="form-select"
                      id="doctor-select"
                      name="doctor"
                      required
                    >
                      <option selected disabled value="">Choose...</option>
                      {% for doctor in doctors %}
                      <option
                        value="{{doctor.id}}"
                        style="text-transform: Capitalize"
                      >
                        {{doctor.name}} &nbsp;({{doctor.department}})
                      </option>
                      {% endfor %}
                    </select>
                    <div class="invalid-feedback">
                      Please! Select a Doctor to book an Appointment with.
                    </div>
                  </div>

                  <div
                    id="date-time-fields"
                    style="display: none; margin-top: 20px"
                  >
                    <div class="">
                      <label for="date" class="col-sm-8 col-form-label"
                        >Select Date<span style="color: red">*</span></label
                      >
                      <div class="col-sm-12">
                        <select
                          class="form-control"
                          id="date"
                          name="date"
                        ></select>
                      </div>
                    </div>

                    <div class="" style="margin-top: 20px">
                      <label for="time" class="col-sm-8 col-form-label"
                        >Select Time<span style="color: red">*</span></label
                      >
                      <div class="col-sm-12">
                        <select
                          class="form-control"
                          id="time"
                          name="time"
                        ></select>
                      </div>
                    </div>
                  </div>

                  <div
                    class="row mb-3"
                    style="margin-top: 20px; align-items: center"
                  >
                    <div class="col-sm-12">
                      <button type="submit" class="btn btn-primary">
                        Submit
                      </button>
                    </div>
                  </div>
                </form>
                <!-- End Appointment form -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <!-- Toastr JS from updated CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

      function goBack(){
        window.history.back();
    }
      {% comment %} SCRIPTS TO SHOW DATE AND TIME   {% endcomment %}
          $(document).ready(function() {
              $('#doctor-select').change(function() {
                  var doctorId = $(this).val();
                  if (doctorId) {
                      $.ajax({
                          url: "{% url 'fetch_available_times' %}",
                          data: {
                              'doctor_id': doctorId
                          },
                          success: function(data) {
                              $('#date').html(data.dates);
                              $('#time').html(data.times);
                              $('#date-time-fields').show();
                          }
                      });
                  } else {
                      $('#date-time-fields').hide();
                  }
              });
          });

        

          {% comment %} =========== SCRIPTS FOR TOAST MESSAGES ======= {% endcomment %}

      {% if messages %}
          {% for message in messages %}
              toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "5000",
                  "timeOut": "10000",
                  "extendedTimeOut": "5000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
              };
              toastr["{{ message.tags }}"]("{{ message }}");
          {% endfor %}
      {% endif %}
    </script>
  </body>
</html>
