<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}

  <title>Departments - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/header.html" %}

    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End patient_dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>
        <!-- End Appointments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'medical_historys'%}">
            <i class="bi bi-list-ol"></i><span>Invoices</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->

        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'patient_departments'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li> {% endcomment %}
        <!-- End Departments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li>
        <!-- End Payment Nav -->

        <!-- <li class="nav-heading">Pages</li> -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Check out various departments</h1>
      </div>
      <!-- End Page Title -->

      <section class="section">
        <!-- ================DOCTOR GRID LAYOUT START ================= -->
        <div class="doctor-grid">
          <div class="doctor">
            <div class="doctor-img">
              <img src="{% static 'img/ortho2.jpg'%}" alt="" width="300" />
            </div>
            <div class="doctor-name">
              <h3 class="pagetitle">OBSTRETRIC & GYNEACOLOGY</h3>
            </div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img src="{% static 'img/ortho3.jpg'%}" alt="" width="300" />
            </div>
            <div class="doctor-name">
              <h3 class="pagetitle">OPHTHALMOLOGY</h3>
            </div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img src="{% static 'img/9.jpg'%}" alt="" width="300" />
            </div>
            <div class="doctor-name">
              <h3 class="pagetitle">COMMIUNITY HEALTH</h3>
            </div>
          </div>

          <div class="doctor">
            <div class="doctor-img">
              <img src="{% static 'img/2.jpg'%}" alt="" width="300" />
            </div>
            <div class="doctor-name">
              <h3 class="pagetitle">MEDICINE</h3>
            </div>
          </div>
        </div>

        <!-- ==================DOCTOR GRID LAYOUT END ============================== -->
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->

    {% include "../include/footer.html" %}
  </body>
</html>
