<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}

  <title>Invoice - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/header.html" %}
    
    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'patient_dashboard'%}">
              <i class="bi bi-grid"></i>
              <span>Dashboard</span>
            </a>
          </li>
          <!-- End patient_dashboard Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'patient_appointments'%}">
              <i class="bi bi-list-ol"></i><span>Appointments</span>
            </a>
          </li>
          <!-- End Appointments Nav -->
    
    
          <li class="nav-item">
            <a class="nav-link " href="{% url 'medical_historys'%}">
              <i class="bi bi-list-ol"></i><span>Invoices</span>
            </a>
          </li>
    
    
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'patient_doctors'%}">
              <i class="bi bi-people"></i><span>Doctors</span>
            </a>
          </li>
          <!-- End Doctors Nav -->
    {% comment %} 
          <li class="nav-item">
            <a class="nav-link collapsed" href="{%url 'patient_departments'%}">
              <i class="bi bi-layout-wtf"></i><span>Departments</span>
            </a>
          </li> {% endcomment %}
          <!-- End Departments Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="#">
              <i class="bi bi-credit-card"></i><span>Payments</span>
            </a>
          </li>
          <!-- End Payment Nav -->
    
          <!-- <li class="nav-heading">Pages</li> -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{% url 'patient_profile'%}">
              <i class="bi bi-person"></i>
              <span>Profile</span>
            </a>
          </li>
          <!-- End Profile Page Nav -->
    
          <li class="nav-item">
            <a class="nav-link collapsed" href="{%url 'patient_logout' %}">
              <i style="color: red" class="bi bi-box-arrow-right"></i>
              <span style="color: red">Sign Out</span>
            </a>
          </li>
          <!-- End Logout Page Nav -->
        </ul>
      </aside>
    

    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="" style="margin-bottom:30px;">
        <h1 style="text-align: center; font-weight: 600">
        Invoices
        </h1>
      </div>

      {% comment %} <div>
        <div class="add-patient">
            <button>Create Invoice</button>
        </div>
      </div> {% endcomment %}
{% if invoice %}
      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>Invoice No.</th>
                      <th>Admission Date</th>
                      <th>DisCharge date</th>
                      <th>Hospital Bill</th>
                      <th>Status</th>
                      <th>Actions</th>
                      {% comment %} <th></th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for invoice in invoices %}
                    <tr>
                      <td>{{invoice.invoice_id}}</td>
                      <td>{{invoice.admitDate}}</td>
                      <td>{{invoice.releaseDate}}</td>
                      <td>#{{invoice.total}}</td>
                      {% if invoice.status == 'Paid' %}
                      <td style="text-align:center;"> 
                        <p style="background:darkgreen; font-weight:800; color:white;">Paid</p>
                      </td>
                      {% elif invoice.status == 'Pending' %}
                      <td style="text-align:center;"> 
                        <p style="background:orange; font-weight:800; color:white;"><em>Pending</em></p>
                      </td>
                      {% endif %}
                    
                      {% if invoice.status == 'Paid' %}
                      <td>
                        <div class="pay_bill">
                            <a href="{% url 'medical_result_receipt' invoice.id%}">
                              <button>view</button>
                            </a>
                          </div>
                      </td>
                      {% elif invoice.status == 'Pending' %}
                      <td>
                        <style>
                          .pending{
                          {% comment %} cursor:not-allowed; {% endcomment %}
                          background:darkred;
                          }
                          
                        </style>
                        <div class="pay_bill pending">
                          <a href="">
                            <button>Pay Now</button>
                          </a>
                        </div>
                    </td>
                      </td> 
                      {% endif %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
               
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
      {% else %}
      <div class="blank">
        <div class="blank_icon">
          <i  class="bi bi-journal-x blank-icon"></i><br>
          <p>No Invoice found for you. <a href="{%url 'book_an_appointment'%}">Create a new appointment.</a></p>
        </div>
       
        </div>
      {% endif %}
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
  </body>
</html>
