<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <!-- Toastr CSS from updated CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />


  <title>Appointments - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/header.html" %}

    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End patient_dashboard Nav -->

        <li class="nav-item">
          <a class="nav-link" href="{% url 'patient_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>
        <!-- End Appointments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'departments'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li>
        <!-- End Departments Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li>
        <!-- End Payment Nav -->

        <!-- <li class="nav-heading">Pages</li> -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->

        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'patient_logout' %}">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>

    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="">
        <h1 style="text-align: center; font-weight: 600">
         Appointments
        </h1>
      </div> <br><br>
      <!-- End Page Title -->
      {% if appointments %}
      <div class="pagetitle-btn" style="margin-bottom:20px;">
        <a href="{% url 'book_an_appointment'%}"><button>Book An Appointment</button></a>
      </div>
      {% endif %}
    
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
            
              <div class="card-body">
                {% if appointments %}
                
                <section class="section">
                  <div class="row">
                    <div class="col-lg-12">
            
                      <div class="card">
                        <div class="card-body">
                          <table class="table datatable">
                            <thead>
                              <tr>
                                <th data-type="date" data-format="YYYY/DD/MM" style="text-align:center;">Appointment Date</th>
                                <th>Consulting Doctors</th>
                                <th>Department</th>
                                {% comment %} <th>Injury/Condition</th> {% endcomment %}
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            {% for appointment in appointments %}
                            <tbody>
                              <tr>
                                <td>{{ appointment.date_time}} at {{appointment.time}}</td>
                                <td>Dr. {{ appointment.doctor_id.name}}</td>
                                <td>{{appointment.doctor_id.department}}</td>
                                {% comment %} <td>
                                  {% if appointment.condition == "" %}
                                    <em>Pending...</em>
                                  {% else %}
                                  {{appointment.condition}}
                                  {% endif %}
                                </td>
                                {% endcomment %}
                                <td>
                                  {% if appointment.status == 'Accepted' %}
                                  <p style="color:darkgreen; font-weight:800;">Accepted</p>
                                  {% elif appointment.status == 'Rejected' %}
                                  <p style="color:red; font-weight:800;">Rejected</p>
                                  {% else %}
                                  <p style="color:orange; font-weight:800;">Pending</p>
                                  {% endif %}
                                </td>

                                <td>
                                  {% if appointment.status == 'Accepted' %}
                                    <div class="pay_bill">
                                      <a href="{% url 'patient_appointment_details' appointment.id %}">
                                        <button>view</button>
                                      </a>
                                    </div>
                                    {% else %}     
                                    <div class="action-button">
                                      <a href="{% url 'edit_appointment' appointment.id %}" style="color:darkgreen;"><button style="color:darkgreen; "><i class="bi bi-pencil-fill"></i></button></a>
                                      <form method="post" action="{% url 'delete_appointment' appointment.id %}" style="display:inline;">
                                        {% csrf_token %}
                                        <button type="submit" style="color:darkred;" onclick="return confirm('Are you sure you want to delete this appointment?');">
                                            <i class="bi bi-trash-fill"></i>
                                        </button>
                                      </form>
                                      {% comment %} <a href="{% url 'delete_appointment' appointment.id %}" style="color:darkred;"><button style="color:darkred; "><i class="bi bi-trash-fill"></i></button></a> {% endcomment %}
                                    </div>                             
                                  {% endif %}
                                </td>
                              </tr>
                            </tbody>
                            {% endfor %}
                          </table>
                          
                          {% else %}
                          <div class="blank">
                          <div class="blank_icon">
                            <i  class="bi bi-journal-x blank-icon"></i><br>
                            <p>No appointment found for you. <a href="{%url 'book_an_appointment'%}">Create a new appointment.</a></p>
                          </div>
                         
                          </div>
                    
                          <!-- End Table with stripped rows -->
            
                        </div>
                      </div>
            
                    </div>
                  </div>
                </section>
                {% endif %}
                
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <!-- Toastr JS from updated CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
      {% if messages %}
          {% for message in messages %}
              toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "5000",
                  "timeOut": "10000",
                  "extendedTimeOut": "5000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
              };
              toastr["{{ message.tags }}"]("{{ message }}");
          {% endfor %}
      {% endif %}
    </script>
  </body>
</html>
