<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />

  <title>Appointments - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/doctor_header.html" %}

    <!-- End Header -->

     <!-- ======= Sidebar ======= -->
     <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'doctor_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End patient_dashboard Nav -->
    
        <li class="nav-item">
          <a class="nav-link " href="{% url 'doctor_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>
        <!-- End Appointments Nav -->
    
        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-shop"></i><span>Pharmacy</span>
          </a>
        </li> {% endcomment %}
        <!-- End Pharmacy Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_patients'%}">
            <i class="bi bi-people"></i><span>Patients</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'invoices'%}">
            <i class="bi bi-people"></i><span>Invoices</span>
          </a>
        </li>


    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_department'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li>
        <!-- End Departments Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li>
        <!-- End Payment Nav -->
    
        <!-- <li class="nav-heading">Pages</li> -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_logout'%}">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>

    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="" style="margin-bottom: 30px; display: flex; gap: 15%">
        <button onclick="" class="backBtn">
          <a href="{% url 'doctor_appointments' %}"> <i class="bi bi-arrow-left-short" id="iconx"></i></a>
        </button>
        <h1 style="text-align: center; font-weight: 600; color:white;">
          Appointments Details
        </h1>
      </div>
      <br />

      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <form action="" entype="" method="POST">
                  {% csrf_token %}
                  <div class="patient_info">
                    {% if appointment.status == "Accepted"%}

                    {% elif appointment.status == "Pending" %}
                    <div class="btn_tag">
                      <button style="background: darkgreen" name="accept" onclick="return confirm('Are you sure you want to Accept this appointment?');">Accept</button>
                      <button style="background: darkred" name="reject" onclick="return confirm('Are you sure you want to Reject this appointment?');">Reject</button>
                    </div>
                    {% endif %}
                 

                    <div class="pic" style="margin-top:10px;">
                      <img
                        class="img"
                        src="{{patient.profile_pic.url}}"
                        alt="{{patient.name}}"
                        width="200"
                      />
                    </div>
                    <div class="info_text">
                      <h4>
                        <strong>Name:</strong>&nbsp; &nbsp;{{patient.name}}
                      </h4>
                      <br />
                      <h4>
                        <strong>Date:</strong>&nbsp; &nbsp;{{appointment.date_time}}
                      </h4>
                      <br />
                      <h4>
                        <strong>Time:</strong>&nbsp; &nbsp;{{appointment.time}}
                      </h4>
                      <br />
                      <h4>
                        <strong>Description:</strong>&nbsp; &nbsp;
                        <p>{{appointment.description}}</p>
                      </h4>
                      <br />
                    </div>
                  </div>
                  <hr />
                  <div class="doctor_info">
                    <h2 style="text-align: center">Doctor Feedback</h2>

                    <input type="hidden" value={{patient.id}} name="patient" />

                    <div class="input_data">
                      <h4><strong>Doctor Name:</strong></h4>
                      <input type="text" disabled name="name" style="text-transform:capitalize;" value="{{appointment.doctor_id}}" />
                    </div>

                    <div class="input_data">
                      <h4><strong>Condition/Problem:</strong></h4>
                      <input type="text" name="cp" value="{{appointment.condition}}" />
                    </div>

                    <div class="input_data">
                      <h4><strong>Note:</strong></h4>
                      <textarea id="note" cols="55" rows="5" value="{{appointment.doctor_note}}" name='note'>{{appointment.doctor_note}}</textarea>
                    </div>

                    <button title="submit" type="submit" class="appbtn">
                      Submit
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <!-- Toastr JS from updated CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>

        function goBack(){
          window.history.back();
      }

        {% if messages %}
            {% for message in messages %}
                toastr.options = {
                    "closeButton": true,
                    "debug": false,
                    "newestOnTop": true,
                    "progressBar": true,
                    "positionClass": "toast-top-right",
                    "preventDuplicates": false,
                    "onclick": null,
                    "showDuration": "300",
                    "hideDuration": "1000",
                    "timeOut": "10000",
                    "extendedTimeOut": "5000",
                    "showEasing": "swing",
                    "hideEasing": "linear",
                    "showMethod": "fadeIn",
                    "hideMethod": "fadeOut"
                };
                toastr["{{ message.tags }}"]("{{ message }}");
            {% endfor %}
        {% endif %}
    </script>
  </body>
</html>
