<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <!-- Toastr CSS from updated CDN -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
  />

  <title> Doctor | Sign up - LUTH</title>

  <style>
    body {
      background-image: url("https://res.cloudinary.com/dbqtos6rt/image/upload/v1720673532/opms/assets/2_emukji.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  </style>

  <body>
    <main>
      <div class="container">
        <section
          class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4"
        >
          <div class="container">
            <div class="row justify-content-center">
              <div
                class="col-lg-6 col-md-6 d-flex flex-column align-items-center justify-content-center"
              >
                <div class="d-flex justify-content-center py-4">
                  <a
                    href="{% url 'doctor_dashboard'%}"
                    class="logo d-flex align-items-center w-auto"
                  >
                    <img src="https://res.cloudinary.com/dbqtos6rt/image/upload/v1720673537/opms/assets/logo_iueamp.png" alt="" />
                    <span class="d-none d-lg-block">LUTH</span>
                  </a>
                </div>
                <!-- End Logo -->

                <div class="card mb-3">
                  <div class="card-body">
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">
                        Create an Account
                      </h5>
                      <p class="text-center small">
                        Enter your personal details to create account
                      </p>
                    </div>

                    <form
                      class="row g-3 needs-validation"
                      novalidate
                      method="post"
                      enctype="multipart/form-data"
                    >
                      {% csrf_token %}
                      <div class="col-12">
                        <label for="yourName" class="form-label"
                          >Your Full Name<span style="color:red;">*</span></label
                        >
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          id="yourName"
                          value="{{name|default_if_none:""}}"
                          required
                        />
                        <div class="invalid-feedback">
                          Please, enter your full name!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="yourEmail" class="form-label"
                          >Your Email<span style="color:red;">*</span></label
                        >
                        <input
                          type="email"
                          name="email"
                          class="form-control"
                          id="yourEmail"
                          value="{{email|default_if_none:""}}"
                          required
                        />
                        <div class="invalid-feedback">
                          Please enter a valid Email adddress!
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="age" class="form-label">Department<span style="color:red;">*</span></label>
                        <select class="form-select" id="validationDefault04" name="department" required>
                          <option selected disabled >Choose...</option>
                          {% for department in departments %}
                          <option value="{{department.id}}"  {% if departments.id|stringformat:"s" == department %}selected{% endif %}> {{department.name}}</option>
                          {% endfor %}

                          {% comment %} <option> Dermatologists</option>
                          <option> Anesthesiologists</option>
                          <option> Emergency Medicine Specialists</option>
                          <option> Allergists/Immunologists</option>
                          <option> Rectal Surgeons</option>
                          <option> Colon Surgeons</option> {% endcomment %}
                        </select>
                       
                      </div>

                      <div class="col-12">
                        <label for="phoneNo" class="form-label"
                          >Upload Certificate.<span style="color:red;">*</span></label
                        >
                        <input
                          type="file"
                          name="file"
                          class="form-control"
                          id="file"
                          value="{{file|default_if_none:""}}"
                          required
                        />
                        <div class="invalid-feedback">
                          Please upload your Certificate. (.png, .jpg, .pdf) !
                        </div>
                      </div>

                      <div class="col-12">
                        <label for="validationDefault02" class="form-label">Create Password<span style="color:red;">*</span></label>
                        <input type="password" value="{{password|default_if_none:""}}" name="password" class="form-control" id="validationDefault02"  required>
                      </div>

                      <div class="col-12">
                        <label for="validationDefault02" class="form-label">Confirm Password<span style="color:red;">*</span></label>
                        <input type="password" value="{{C_password|default_if_none:""}}" name="Cpassword" class="form-control" id="validationDefault02" required>
                      </div>

                      {% comment %} <div class="col-12">
                        <div class="form-check">
                          <input
                            class="form-check-input"
                            name="terms"
                            type="checkbox"
                            value=""
                            id="acceptTerms"
                            required
                          />
                          <label class="form-check-label" for="acceptTerms"
                            >I agree and accept the
                            <a href="#">terms and conditions</a></label
                          >
                          <div class="invalid-feedback">
                            You must agree before submitting.
                          </div>
                        </div>
                      </div> {% endcomment %}
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">
                          Create Account
                        </button>
                      </div>
                      <div class="col-12">
                        <p class="small mb-0">
                          Already have an account?
                          <a href="{% url 'doctor_login'%}">Log in</a>
                        </p>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <!-- End #main -->

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    {% include "../include/footer.html" %}
    <!-- Toastr JS from updated CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>
      {% if messages %}
          {% for message in messages %}
              toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "5000",
                  "timeOut": "10000",
                  "extendedTimeOut": "5000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
              };
              toastr["{{ message.tags }}"]("{{ message }}");
          {% endfor %}
      {% endif %}
    </script>
  </body>
</html>
