<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <title>Dashboard - LUTH</title>

  <body>
    <!-- ======= Header ======= -->

    {% include "../include/doctor_header.html" %}

    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    {% include "../include/doctor_sidebar.html" %}
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        
        <div class="pagetitle-btn dashboard_btn">
          <a href="{% url 'invoices'%}"
            ><button> Create Invoice</button></a
          >
        </div>
      </div>
   
      <!-- End Page Title -->

      <section class="section dashboard">
        <div class="row">
          <!-- Left side columns -->
          <div class="col-lg-8">
            <div class="row">
              <!-- Sales Card -->
              <div class="col-xxl-4 col-md-6" >
                <div class="card info-card sales-card">
                  <div class="card-body" style="background:#20c997;">
                    <h5 class="card-title">Total Patient</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-people"></i>
                      </div>
                      <div class="ps-1">
                        <h6 style="text-wrap: wrap; text-size-adjust: auto">
                          {{total_patient}}
                        </h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Sales Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6" >
                <div class="card info-card revenue-card">
                  <div class="card-body" style="background:#00d4ff;">
                    <h5 class="card-title">Total Appointment</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-journal-album"></i>
                      </div>
                      <div class="ps-2">
                        <h6>{{doctor_appointments.count}}</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Revenue Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6" >
                <div class="card info-card revenue-card">
                  <div class="card-body" style="background:#ff6363;">
                    <h5 class="card-title">Total Earning</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-hash"></i>
                      </div>
                      <div class="ps-2">
                        <h6>#30,264</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Revenue Card -->

              <!-- Customers Card -->

              <!-- Revenue Card -->
              <div class="col-xxl-4 col-md-6">
                <div class="card info-card revenue-card">
                  <div class="card-body" style="background:#f8b400;">
                    <h5 class="card-title">Total Earning</h5>

                    <div class="d-flex align-items-center">
                      <div
                        class="card-icon rounded-circle d-flex align-items-center justify-content-center"
                      >
                        <i class="bi bi-hash"></i>
                      </div>
                      <div class="ps-2">
                        <h6>#30,264</h6>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- End Revenue Card -->

             

              <section class="section">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">New Appointment</h5>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                          <thead>
                            <tr>
                              <th data-type="date" data-format="YYYY/DD/MM">
                                Date
                              </th>
                              <th>Doctor.</th>
                              <th>Injury/Condition</th>
                              <th>Action</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>2005/02/11</td>
                              <td>Dr. Triumph</td>
                              <td>Flu</td>
                              <td>
                                <div class="action-button">
                                  <button style="color: darkgreen">
                                    <i class="bi bi-plus-square-fill"></i>
                                  </button>
                                  <button style="color: darkred">
                                    <i class="bi bi-trash-fill"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>2005/02/11</td>
                              <td>Dr. Triumph</td>
                              <td>Depression</td>
                              <td>
                                <div class="action-button">
                                  <button style="color: darkgreen">
                                    <i class="bi bi-plus-square-fill"></i>
                                  </button>
                                  <button style="color: darkred">
                                    <i class="bi bi-trash-fill"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>

                            <tr>
                              <td>2005/02/11</td>
                              <td>Dr. Triumph</td>
                              <td>diarrhoea</td>
                              <td>
                                <div class="action-button">
                                  <button style="color: darkgreen">
                                    <i class="bi bi-plus-square-fill"></i>
                                  </button>
                                  <button style="color: darkred">
                                    <i class="bi bi-trash-fill"></i>
                                  </button>
                                </div>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!-- End Table with stripped rows -->
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
          <!-- End Left side columns -->

          <!-- Right side columns -->
          <div class="col-lg-4">
            <!-- ======================= UPCOMING APPOINTMENTS ============= -->
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">New Appointments</h5>

                <div class="activity">
                
                  {% if doctor_appointments %}
                  {% for upcoming_app in upcoming_appoinments %}
                  <div class="activity-item d-flex">
                    <div class="activite-label">{{upcoming_app.date_time}} <br> {{upcoming_app.time}}</div>
                    <i class='bi bi-circle-fill activity-badge text-warning align-self-start'></i>
                    <div class="activity-content">
                     <a href="#" class="fw-bold text-dark" >
                      <h5 style="font-weight:bold;"> {{upcoming_app.patient}}</h5>
                      <p style="
                      font-weight:400;
                      text-decoration:underline;
                      ">
                        {{upcoming_app.description | truncatechars:55}}
                        </p>
                    </a> 
                    </div>
                  </div>
                  <div style="text-align:center;
               text-decoration:underline; 
               margin:10px;
               color:blue;">
                <a href="">View all</a>
              </div>
                  {% endfor %}
                  {% else %}
                  <div class="blank">
                    <div class="blank_icon">
                        <i class="bi bi-journal-x blank-icon"></i><br>
                        <p>No New Appointments. <a href="{% url 'book_an_appointment' %}"></a></p>
                    </div>
                </div>
                  
                  {% endif %}
               
  
                </div>
              </div>
              
            </div>



            <!-- ======================= APPROVED APPOINTMENTS ============= -->

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Upcoming Appointments</h5>

                <div class="activity">
                
                  {% if doctor_appointments %}
                  {% for approved in approved_appointments %}
                  <div class="activity-item d-flex">
                    <div class="activite-label">{{approved.date_time}} <br> {{upcoming_app.time}}</div>
                    <i class='bi bi-circle-fill activity-badge text-success align-self-start'></i>
                    <div class="activity-content">
                     <a href="#" class="fw-bold text-dark" >
                      <h5 style="font-weight:bold;"> {{approved.patient}}</h5>
                      <p style="
                      font-weight:400;
                      text-decoration:underline;
                      ">
                        {{approved.description | truncatechars:55}}
                        </p>
                    </a> 
                    </div>
                  </div>
                  <div style="text-align:center;
               text-decoration:underline; 
               margin:10px;
               color:blue;">
                <a href="">View all</a>
              </div>
                  {% endfor %}
                  {% else %}
                  <div class="blank">
                    <div class="blank_icon">
                        <i class="bi bi-journal-x blank-icon"></i><br>
                        <p>No Upcoming Appointments. <a href="{% url 'book_an_appointment' %}"></a></p>
                    </div>
                </div>
                  
                  {% endif %}
               
  
                </div>
              </div>
              
            </div>

           
          </div>
          <!-- End Right side columns -->
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
  </body>
</html>
