<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}

  <title>Patients - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
    {% include "../include/doctor_header.html" %} {% load static %}


    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'doctor_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End doctor_dashboard Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>

    
     
    

        <!-- End Appointments Nav -->
    
        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-shop"></i><span>Pharmacy</span>
          </a>
        </li> {% endcomment %}
        <!-- End Pharmacy Nav -->
    
        <li class="nav-item">
          <a class="nav-link " href="{% url 'doctor_patients'%}">
            <i class="bi bi-people"></i><span>Patients</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'invoices'%}">
            <i class="bi bi-people"></i><span>Invoices</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_department'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li>
        <!-- End Departments Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_payment'%}">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li> 
        <!-- End Payment Nav -->
    
        <!-- <li class="nav-heading">Pages</li> -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_logout'%}">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>
    

    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="" style="margin-bottom: 30px; display: flex; gap: 15%">
        <button onclick="goBack()" class="backBtn">
          <i class="bi bi-arrow-left-short" id="iconx"></i>
        </button>
        {% comment %} <h1 style="text-align: center; font-weight: 600; color:white;">
          Appointments Details
        </h1> {% endcomment %}
      </div>
      <br />


      <!-- End Page Title -->
      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div
                class="card-body profile-card pt-4 d-flex flex-column align-items-center"
              >
                <img
                  src="{{patient.profile_pic.url}}"
                  alt="{{patient.name}}"
                  class="rounded-circle"
                />
                <h2>{{patient.name}}</h2>
                <h3>Patient</h3>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Overview
                    </button>
                  </li>

                  <li class="nav-item">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-edit"
                    >
                      Edit Patient
                    </button>
                  </li>

                  <li class="nav-item">
                    <a href="{% url 'create_invoice_with_patient' patient.id %}"
                    class="nav-link"
                      style="
                        border:none;
                        background:none;

                      "
                    >
                      Create Invoice
                    </a>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview"
                    id="profile-overview"
                  >
                  
                    {% comment %} <h5 class="card-title">Profile</h5> {% endcomment %}

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Full Name</div>
                      <div class="col-lg-9 col-md-8 cap">{{patient.name}}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Patient ID</div>
                      <div class="col-lg-9 col-md-8 cap">{{patient.patient_id}}</div>
                    </div>


                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Gender</div>
                      <div class="col-lg-9 col-md-8">{{patient.sex}}</div>
                    </div>


                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Age</div>
                      <div class="col-lg-9 col-md-8 cap">{{patient.age}}<span>Yrs.</span></div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Blood Group</div>
                      <div class="col-lg-9 col-md-8">{{patient.blood_group}}</div>
                    </div>

               

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Phone</div>
                      <div class="col-lg-9 col-md-8">{{patient.phone_no}}</div>
                    </div>

                  
                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email</div>
                      <div class="col-lg-9 col-md-8">{{patient.email}}</div>
                    </div>


                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Address</div>
                      <div class="col-lg-9 col-md-8 cap">{{patient.address}}</div>
                    </div>

                  </div>

                

                  <di
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  >
                  
                    <!-- Profile Edit Form -->
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <label
                          for="profileImage"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Profile Image</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <img src="{{ patient.profile_pic.url }}" alt="{{patient.name}}" />
                          <div class="pt-2">
                            <input type="file" title="Upload new profile image" name="profile_image" class="form-control btn btn-primary btn-sm" id="profileImage">
                       
                          </div>
                        </div>


                      <div class="row mb-3">
                        <label
                          for="fullName"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Full Name</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="name"
                            type="text"
                            class="form-control"
                            id="name"
                            value="{{patient.name}}"
                          />
                        </div>
                      </div>

                     

                      <div class="row mb-3">
                        <label
                          for="age"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Age</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="age"
                            type="number"
                            class="form-control"
                            id="age"
                            value="{{patient.age}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="bgroup"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Blood Group</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="bgroup"
                            type="text"
                            class="form-control"
                            id="bgroup"
                            value="{{patient.blood_group}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="address"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Address</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="address"
                            type="text"
                            class="form-control"
                            id="address"
                            value="{{patient.address}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="phone"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Phone number</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="phone"
                            type="tell"
                            class="form-control"
                            id="phone"
                            value="{{patient.phone_no}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="phone"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Gender</label
                        >
                        <div class="col-md-8 col-lg-9">
                          {% comment %} <input
                            name="phone"
                            type="tell"
                            class="form-control"
                            id="phone"
                            value="{{patient.phone_no}}"
                          /> {% endcomment %}
                          <select
                          class="form-select"
                          id="doctor-select"
                          name="gender"
                          required
                        >
                          <option selected disabled value="">Choose...</option>
                          
                          <option
                            value="Male"
                            style="text-transform: Capitalize"
                          >
                            Male
                          </option>
                          <option
                            value="Female"
                            style="text-transform: Capitalize"
                          >
                            Female
                          </option>
                          
                        </select>
                        </div>
                      </div>

                     

                      <div class="row mb-3">
                        <label
                          for="Email"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Email</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="Email"
                            style="text-transform:lowercase;"
                            value="{{patient.email}}"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                          Save Changes
                        </button>
                      </div>
                    </form>
                    <!-- End Profile Edit Form -->
                  </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>

     
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <script>

      document.addEventListener("DOMContentLoaded", function() {
            // Check if the URL contains the hash fragment #profile-edit
          if (window.location.hash === '#profile-edit') {
                // Assuming you are using Bootstrap tabs, find the tab button and trigger a click event
              var editTabButton = document.querySelector('[data-bs-target="#profile-edit"]');
              if (editTabButton) {
                  editTabButton.click();
              }
          }
      });
    


    function goBack(){
        window.history.back();
    }

    
    {% if messages %}
        {% for message in messages %}
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["{{ message.tags }}"]("{{ message }}");
        {% endfor %}
    {% endif %}
    </script>
  </body>
</html>
