<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}

  <title>Patients - LUTH</title>

  <body>
    <!-- ======= Header ======= -->
   
    <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="{%url 'doctor_dashboard'%}" class="logo d-flex align-items-center">
        <img src="{% static 'img/logo.png'%}" alt="">
        <span class="d-none d-lg-block">LUTH</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

{% comment %} <style>
  .search-bar #suggestions{
    font-weight: bold;
    padding: 10px;
    position: absolute; 
    background: white; 
    z-index: 1000;
    color: black;
  }
</style> {% endcomment %}
    {% comment %} style="position: absolute; background: white; z-index: 1000;" {% url  'patient_search' %} {% endcomment %}

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="">
        {% csrf_token %}
        <input type="text" name="query" id="search-input" placeholder="Search by Patient Id / Name / Email" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
      <div id="suggestions" style="position: absolute;  background: white; z-index: 1000; color:black; " ></div>
      {% comment %} <a id="suggestions" href="{% url 'patients_details' patient.id %}" style="position: absolute; background: blue; z-index: 1000;" ></a> {% endcomment %}
    </div>


  

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">



        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">3</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              You have 3 new messages
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Maria Hudson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>4 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>Anna Nelson</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>6 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                <div>
                  <h4>David Muldon</h4>
                  <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                  <p>8 hrs. ago</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Show all messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{doctor.profile_pic.url}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">Dr. {{doctor.name}}</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Dr. {{doctor.name}}</h6>
              <span>Doctor</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="profile.html">
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>

    <!-- End Header -->

    <!-- ======= Sidebar ======= -->
    <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'doctor_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End doctor_dashboard Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>

    
     
    

        <!-- End Appointments Nav -->
    
        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-shop"></i><span>Pharmacy</span>
          </a>
        </li> {% endcomment %}
        <!-- End Pharmacy Nav -->
    
        <li class="nav-item">
          <a class="nav-link " href="{% url 'doctor_patients'%}">
            <i class="bi bi-people"></i><span>Patients</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'invoices'%}">
            <i class="bi bi-people"></i><span>Invoices</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_department'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li>
        <!-- End Departments Nav -->
    
        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="#">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li> {% endcomment %}
        <!-- End Payment Nav -->
    
        <!-- <li class="nav-heading">Pages</li> -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'patient_logout'%}">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>
    

    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="" style="margin-bottom:30px;">
        <h1 style="text-align: center; font-weight: 600">
        Patients
        </h1>
      </div>

      <div> 
        <div class="add-patient pagetitle-btn" style="margin-bottom:20px;">
          <a href="{% url 'add_patients'%}"> <button>Add Patient</button></a>
        </div>
      </div>

      <!-- End Page Title -->
      <section class="section">
        <div class="row">
          <div class="col-lg-12">
  
            <div class="card">
              <div class="card-body">
                <table class="table datatable">
                  <thead>
                    <tr>
                      <th>Patient Id</th>
                      <th>Patient Name</th>
                      <th>Gender</th>
                      <th>Age</th>
                      <th>Mobile</th>
                      <th>Email</th>
                      <th>Actions</th>
                      {% comment %} <th></th> {% endcomment %}
                    </tr>
                  </thead>
                  <tbody>
                    {% for patient in patients %}
                    <tr>
                      <td>{{patient.patient_id}}</td>
                      <td>{{patient.name | truncatechars:20}}</td>
                      <td>{{patient.sex}}</td>
                      <td> {{patient.age}}</td>
                      <td> {{patient.phone_no}}</td>
                      <td> {{patient.email}}</td>

                      <td>
                        <div class="action-button">
                          <a href="" style="color:darkgreen;"><button style="color:darkgreen; " title="Edit Patient"><i class="bi bi-pencil-fill"></i></button></a>
                          
                          <a href="{% url 'patients_details' patient.id %}" style="color:blue;"><button title="Delete Patient" style="color:blue; font-size:18px;">view</button></a>
                        </div>  
                      </td>
                      {% comment %} <td>
                        <a href="">view</a>
                      </td> {% endcomment %}
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
               
                <!-- End Table with stripped rows -->
  
              </div>
            </div>
  
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
  
  
  <script>

    $(document).ready(function() {
      $('#search-input').on('keyup', function() {
          let query = $(this).val();
          if (query.length > 0) {
              $.ajax({
                  url: '{% url "search_patients" %}',
                  data: { 'query': query },
                  dataType: 'json',
                  success: function(data) {
                      let resultsContainer = $('#suggestions');
                      resultsContainer.empty();
                      if (data.length > 0) {
                          data.forEach(function(item) {
                              let patientUrl = '{% url "patients_details" 0 %}'.replace('0', item.id);
                              resultsContainer.append(`
                                  <div class="result-item">
                                      <a class="search_url" href="${patientUrl}">
                                          ${item.name} (${item.patient_id}) - ${item.email}
                                      </a>
                                      <hr>
                                  </div>
                              `);
                          });
                      } else {
                          resultsContainer.append('<div class="result-item">No results found</div>');
                      }
                  }
              });
          } else {
              $('#suggestions').empty();
          }
      });
  });
   

    {% comment %} document.getElementById('search-input').addEventListener('input', function() {
      fetch(`/doctor/search_autocomplete/?query=${this.value}`)
          .then(response => response.json())
          .then(data => {
              let suggestions = document.getElementById('suggestions');
              suggestions.innerHTML = '';
              data.forEach(item => {
                  let div = document.createElement('div');
                  div.innerHTML = `${item.name} (${item.patient_id}) - ${item.email}`;
                  div.addEventListener('click', function() {
                      document.getElementById('search-input').value = item.name;
                      suggestions.innerHTML = '';
                  });
                  suggestions.appendChild(div);
              });
          });
  }); {% endcomment %}
  
    function goBack(){
      window.history.back();
  }
  
    {% if messages %}
        {% for message in messages %}
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "newestOnTop": true,
                "progressBar": true,
                "positionClass": "toast-top-right",
                "preventDuplicates": false,
                "onclick": null,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeOut": "10000",
                "extendedTimeOut": "5000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            };
            toastr["{{ message.tags }}"]("{{ message }}");
        {% endfor %}
    {% endif %}
  </script>
  </body>
</html>
