<!DOCTYPE html>
<html lang="en">
  {% include "../include/head.html" %} {% load static %}
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"
/>


  <title>Profile - LUTH</title>


  <body>
    <!-- ======= Header ======= -->
    {% include "../include/doctor_header.html" %}


    <style>
      .cap{
        text-transform:Capitalize;
      }

      input{
        text-transform:Capitalize;
      }
    </style>

    <!-- End Header -->

  
     <!-- ======= Sidebar ======= -->
     <aside id="sidebar" class="sidebar">
      <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
          <a class="nav-link collapsed" href="{%url 'doctor_dashboard'%}">
            <i class="bi bi-grid"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <!-- End doctor_dashboard Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-list-ol"></i><span>Appointments</span>
          </a>
        </li>

    
     
    

        <!-- End Appointments Nav -->
    
        {% comment %} <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_appointments'%}">
            <i class="bi bi-shop"></i><span>Pharmacy</span>
          </a>
        </li> {% endcomment %}
        <!-- End Pharmacy Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_patients'%}">
            <i class="bi bi-people"></i><span>Patients</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'invoices'%}">
            <i class="bi bi-people"></i><span>Invoices</span>
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctors'%}">
            <i class="bi bi-people"></i><span>Doctors</span>
          </a>
        </li>
        <!-- End Doctors Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_department'%}">
            <i class="bi bi-layout-wtf"></i><span>Departments</span>
          </a>
        </li>
        <!-- End Departments Nav -->
    
       <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_payment'%}">
            <i class="bi bi-credit-card"></i><span>Payments</span>
          </a>
        </li> 
        <!-- End Payment Nav -->
    
        <!-- <li class="nav-heading">Pages</li> -->
    
        <li class="nav-item">
          <a class="nav-link " href="{% url 'doctor_profile'%}">
            <i class="bi bi-person"></i>
            <span>Profile</span>
          </a>
        </li>
        <!-- End Profile Page Nav -->
    
        <li class="nav-item">
          <a class="nav-link collapsed" href="{% url 'doctor_logout'%}">
            <i style="color: red" class="bi bi-box-arrow-right"></i>
            <span style="color: red">Sign Out</span>
          </a>
        </li>
        <!-- End Logout Page Nav -->
      </ul>
    </aside>
    
    <!-- End Sidebar-->

    <main id="main" class="main">
      <div class="pagetitle">
        <h1>Profile</h1>
      </div>
      <!-- End Page Title -->

      <section class="section profile">
        <div class="row">
          <div class="col-xl-4">
            <div class="card">
              <div
                class="card-body profile-card pt-4 d-flex flex-column align-items-center"
              >
              <div class="profile_img">
                <img
                  src="{{doctor.profile_pic.url}}"
                  alt="{{doctor.name}}"
                  {% comment %} class="rounded-circle" {% endcomment %}
                />
              </div>
                <h2 style="text-transform:Capitalize;">Dr. {{doctor.name}}</h2>
                <h3>Doctor</h3>
              </div>
            </div>
          </div>

          <div class="col-xl-8">
            <div class="card">
              <div class="card-body pt-3">
                <!-- Bordered Tabs -->
                <ul class="nav nav-tabs nav-tabs-bordered">
                  <li class="nav-item">
                    <button
                      class="nav-link active"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-overview"
                    >
                      Overview
                    </button>
                  </li>

                  <li class="nav-item">
                    <button
                      class="nav-link"
                      data-bs-toggle="tab"
                      data-bs-target="#profile-edit"
                    >
                      Edit Profile
                    </button>
                  </li>
                </ul>
                <div class="tab-content pt-2">
                  <div
                    class="tab-pane fade show active profile-overview"
                    id="profile-overview"
                  >
                    <h5 class="card-title">About</h5>
                    <p class="small fst-italic">
                      {{doctor.about}}
                      
                    </p>

                    <h5 class="card-title">Profile Details</h5>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Full Name</div>
                      <div class="col-lg-9 col-md-8 cap">{{doctor.name}}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Department</div>
                      <div class="col-lg-9 col-md-8 cap">{{doctor.department}}</div>
                    </div>


                    {% comment %} <div class="row">
                      <div class="col-lg-3 col-md-4 label">Age</div>
                      <div class="col-lg-9 col-md-8">{{doctor.age}}<span>Yrs.</span></div>
                    </div> {% endcomment %}

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Country</div>
                      <div class="col-lg-9 col-md-8 cap">Nigeria</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Address</div>
                      <div class="col-lg-9 col-md-8">{{doctor.address}}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Phone</div>
                      <div class="col-lg-9 col-md-8">{{doctor.phone_no}}</div>
                    </div>

                    <div class="row">
                      <div class="col-lg-3 col-md-4 label">Email</div>
                      <div class="col-lg-9 col-md-8" style="text-transform:lowercase;">{{doctor.email}}</div>
                    </div>
                  </div>

                  <div
                    class="tab-pane fade profile-edit pt-3"
                    id="profile-edit"
                  >
                    <!-- Profile Edit Form -->
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="row mb-3">
                        <label
                          for="profileImage"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Profile Image</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <img src="{{ doctor.profile_pic.url }}" alt="Profile" />
                          <div class="pt-2">
                            <input type="file" title="Upload new profile image" name="profile_image" class="form-control btn btn-primary btn-sm" id="profileImage">
                       
                          </div>
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="fullName"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Full Name</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="name"
                            type="text"
                            class="form-control"
                            id="name"
                            value="{{doctor.name}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="about"
                          class="col-md-4 col-lg-3 col-form-label"
                          >About</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <textarea
                            name="about"
                            class="form-control"
                            id="about"
                            style="height: 100px"
                          >
                          {{doctor.about}}</textarea
                          >
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="department"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Department</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <select class="form-select" id="validationDefault04" name="department" required>
                            {% for dept in departments %}
                              <option value="{{ dept.name }}" {% if dept == doctor.department %}selected{% endif %}>{{ dept.name }}</option>
                            {% endfor %}
                            {% comment %} {% for department in departments %}
                            <option value="{{department.id}}"  {% if departments.id|stringformat:"s" == department %}selected{% endif %}> {{department.name}}</option>
                            {% endfor %} {% endcomment %}
  
                            {% comment %} <option> Dermatologists</option>
                            <option> Anesthesiologists</option>
                            <option> Emergency Medicine Specialists</option>
                            <option> Allergists/Immunologists</option>
                            <option> Rectal Surgeons</option>
                            <option> Colon Surgeons</option> {% endcomment %}
                          </select>
                         
                        </div>
                      </div>

                      {% comment %} <div class="row mb-3">
                        <label
                          for="age"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Age</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="age"
                            type="number"
                            class="form-control"
                            id="age"
                            value="{{doctor.age}}"
                          />
                        </div>
                      </div> {% endcomment %}

                      <div class="row mb-3">
                        <label
                          for="Country"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Country</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="country"
                            type="text"
                            class="form-control"
                            id="Country"
                            value="{{doctor.country}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Address"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Address</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="address"
                            type="text"
                            class="form-control"
                            id="Address"
                            value="{{doctor.address}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Phone"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Phone</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="phone"
                            type="tel"
                            class="form-control"
                            id="Phone"
                            value="{{doctor.phone_no}}"
                          />
                        </div>
                      </div>

                      <div class="row mb-3">
                        <label
                          for="Email"
                          class="col-md-4 col-lg-3 col-form-label"
                          >Email</label
                        >
                        <div class="col-md-8 col-lg-9">
                          <input
                            name="email"
                            type="email"
                            class="form-control"
                            id="Email" 
                            style="text-transform:lowercase;"
                            value="{{doctor.email}}"
                            disabled
                          />
                        </div>
                      </div>

                      <div class="text-center">
                        <button type="submit" class="btn btn-primary">
                          Save Changes
                        </button>
                      </div>
                    </form>
                    <!-- End Profile Edit Form -->
                  </div>
                </div>
                <!-- End Bordered Tabs -->
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-- End #main -->

    <!-- ======= Footer ======= -->
    {% include "../include/footer.html" %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    <script>

    
      {% if messages %}
          {% for message in messages %}
              toastr.options = {
                  "closeButton": true,
                  "debug": false,
                  "newestOnTop": true,
                  "progressBar": true,
                  "positionClass": "toast-top-right",
                  "preventDuplicates": false,
                  "onclick": null,
                  "showDuration": "300",
                  "hideDuration": "5000",
                  "timeOut": "10000",
                  "extendedTimeOut": "5000",
                  "showEasing": "swing",
                  "hideEasing": "linear",
                  "showMethod": "fadeIn",
                  "hideMethod": "fadeOut"
              };
              toastr["{{ message.tags }}"]("{{ message }}");
          {% endfor %}
      {% endif %}
    </script>
  </body>
</html>
